**/old/**
*.7z
*.csv
*.ini
*.json
*.log
*.log_2
*.pyc
*.rar
*.sql
*.tmp.py
*.txt
*.zip
*/.gitx/**
*/__pycache__/**
*/back/**
*/pywikibot.py
.pylintrc
databasebackup/**
df.py
imp.sh
import.py
import_xml.py
printe.py
tw/twet_config.py
w.xml
*.json1
mass/radiox/**
ncc_core/nc_import/long_bots.py
/mass/eyerounds/htmls
/fix_mass/fix_sets/studies_done
/fix_mass/fix_sets/has_url
/tutorial
mass/usaid/.env
*.sqlite
/infos
.github/fix_mass/jsons/find_from_url.jsonl1
.github/fix_mass/jsons/find_from_url.jsonl
/.github/fix_mass/fix_sets/has_url
